<ng-form *ngIf="!matchLog">
  <label for="isBinary">isBinary</label><br />
  <input type="checkbox" id="isBinary" [formControl]="isBinary" />
  <br>
  <label for="matchLog">match log file</label><br />
  <input type="file" id="matchLog" (change)="onFileSelected($event)" />
  <br>
  <label for="base64Input">base64</label><br />
  <input type="text" id="base64Input" />
  <button (click)="setBase64()">set</button>
</ng-form>
<lib-quoridor-visualizer [matchLog]="matchLog"></lib-quoridor-visualizer>
